* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
  }

  :root{
    --color-font: #fff;
    --color-hover: #eeff00;

    --size-logo: 40px;
  }

  body{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
  }

  .nav-portfolio, .nav-links{
    padding: 10px;
  }

  .nav-portfolio a{
    text-decoration: none;
    font-size: var(--size-logo);
    font-weight: bold;
    color: var(--color-font);
  }

  .nav-portfolio a span{
    color: var(--color-hover);
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  .navbar a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-font);
  }
  .navbar a:hover{
    color: var(--color-hover);
  }