* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-font: #fff;
  --color-hover: #eeff00;
  --color-desk: #ffae00;
  --color-bg: #1f1f21;

  --font-size-big: 5rem;
  --font-size-p: 1rem;
}

body {
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  align-items: stretch;
  margin: 0 auto;
  background-color: var(--color-bg);
}

header {
  width: 100%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-portfolio a {
  text-decoration: none;
  font-size: var(--font-size-big);
  font-weight: bold;
  color: var(--color-font);
}

.nav-portfolio a span {
  color: var(--color-desk);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  font-size: var(--font-size-p);
  font-weight: bold;
  color: var(--color-font);
  transition: all ease 0.5s;
}
.navbar a:hover {
  color: var(--color-desk);
}

main {
  width: 100%;
  padding: 2.5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section span {
  width: 400px;
  padding: 5px 25px;
  background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 100px;
  color: var(--color-font);
  font-weight: 700;
  font-size: var(--font-size-p);
  text-transform: uppercase;
}

section h1{
    font-size: var(--font-size-big);
    color: var(--color-font);
}

section p{
    font-size: var(--font-size-p);
    color: var(--color-font);
    line-height: 30px;
    margin-bottom: 50px;
}

.link-cv{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    color: var(--color-bg);
    background-color: var(--color-desk);    
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
  }

  .link-cv:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--color-font);
  }

  
figure {
  margin: auto 0;
}
figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1% 2%;
}

.navbar-endereco {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-endereco i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: linear-gradient(130.08deg, #383538 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--color-font);
    font-size: 20px;    
    transition: all 0.6s ease-in-out;
  }
  
  .navbar-endereco i:hover {
    transform: translateY(-10px);
    color: var(--color-desk);
  }

  @media screen and (max-width: 1024px) {
    .nav-portfolio a, section h1{
        font-size: 4rem;
    }
    .navbar{
        gap: 40px;
    }
    section{
        padding: 40px 0;
        gap: 20px;
    }
    section p{
        max-width: 500px;
        text-align: justify;
    }
}

@media screen and (max-width: 768px){
  .nav-portfolio{
      display: none;
  }
  header{
      
      justify-content: center;
      align-items: center;
  }
  .navbar{
      gap: 60px;
      padding: 20px 0;
  }
  .navbar a{
      font-size: 1.5rem;
  }
  section{
      padding-top: 40px;
  }
  section span{
      width: 300px;
      font-size: 0.7rem;
  }
  section h1{
      font-size: 2rem;
  }
  section p{
      margin-bottom: 10px;      
      padding-right: 20px;
  }
  figure{
      margin-top: 50px;
  }
  figure img{
    width: 250px;
    height: 250px;
  }
  .navbar-endereco{
      gap: 70px;
  }
  footer{
    justify-content: center;    
  }
}

@media screen and (max-width: 500px){
  header{
      margin-top: 20px;
  }
  .nav-portfolio{
      display: none;
  }
  .nav-links{
      margin: auto;
  }
  .navbar{
    gap: 20px;
  }
  .navbar a{
    font-size: 1rem;
  }
  main{
      display: flex;
      flex-direction: column;        
      gap: 20px;
      padding: 0;
  }
  figure{
      margin-top: 20px;
  }
  figure img{
      width: 200px;
      height: 200px;
  }
  section{
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  section span{
      width: 300px;
      font-size: 0.7rem;
      margin: 0 auto;
  }
  section h1{
      font-size: 3rem;
      margin: 0 auto;
  }
  section p, section a{
      text-align: center;
      margin: 0 auto;
      padding: 0 20px;
  }
  
  footer{      
      display: flex;
      justify-content: center;      
  }
  .navbar-endereco{
      width: 250px;
      display: flex;
      justify-content: space-around;
      padding-bottom: 10px;
  }
}